<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Contact</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a class="navbar-brand" href="#">
                <span class="company-name">Signify</span>
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            </a>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
    </header>

    <div class="container mt-5">
        <h2>Contact Us</h2>
        <p>Contact us by visiting our website at signify.ai.</p>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
